  <div class="container">
   <div class="tr2"><a href="#">Steven Scalisi</a></div>
   <div class="tr"><a href="#">Steven Capuzzi</a></div>
    <div class="tr3"><a href="#">Mathew Alton</a></div>
  
</div>
