  <div class="container">
   <div class="tr4"><a href="#">Matthew Swimming</a></div>
   <div class="tr2"><a href="#">Steven Scalisi</a></div>
   <div class="tr"><a href="#"><div class="floating"><img class="logo" src="http://stevencapuzzi.com/assets/front/laberinto/images/source/logo_home.png" /></div></a></div>
    <div class="tr3"><a href="#">Mathew Alton</a></div>
  
</div>
