/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
    -webkit-font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
    -webkit-font-smoothing: antialiased;
  }
     @-webkit-keyframes fadeIn {
              0% {opacity: 0;}
              100% {opacity: 1;}
           }
           
           @keyframes fadeIn {
              0% {opacity: 0;}
              100% {opacity: 1;}
           }
           
           .fadeIn {
              -webkit-animation-name: fadeIn;
              animation-name: fadeIn;
           }
  
  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .triangle {
    animation: moveInLeft 1s ease-out;
    animation-duration: 5s;
    position: relative;
    height: 90vh;
    width: 90vh;
    background-image: linear-gradient(
      rgba(186, 246, 250, 0.8), 
      rgba(62, 178, 240, 0.8), 
      rgba(0, 195, 255, 0.8)),
      url('http://stevencapuzzi.com/assets/front/home/images/banner.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(50% 0, 50% 0, 100% 100%, 0% 100%);
    margin: 10px;
  }

  .inverseTriangle {
    animation: moveInRight 1s ease-out;
    animation-duration: 5s;
    position: relative;
    height: 90vh;
    width: 90vh;
    background-image: linear-gradient(
      rgba(186, 246, 250, 0.8), 
      rgba(62, 178, 240, 0.8), 
      rgba(0, 195, 255, 0.8)),
      url('http://stevencapuzzi.com/assets/front/home/images/banner.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(100% 0, 50% 0, 50% 100%, 0% 50%);
    -webkit-clip-path: polygon(100% 0, 100% 0, 50% 50%, 0% 50%);
    margin: 10px;
  }
  
  .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-46.9%, 50%);
  }
  
  .heading {
    color: #fff;
    text-transform: uppercase;
      
  }
  
  .primary-heading {
    display: block;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 18px;
    animation: moveInLeft 1s ease-out;
  }
  
  .sub-heading {
    display: block;
    font-size: 50px;
    text-align: center;
    animation: moveInRight 1s ease-out, floatingFox 4s 1s infinite;
    
  }
  
  @media screen and (max-width: 550px) {
    
      .text-container {
      transform: translate(-46.9%, 100%);
    }
    
    .primary-heading {
      font-size:18px;
    }
    .sub-heading {
      font-size:40px;
    }
  }
  
  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-650px) rotateX(90deg);;
      /* transform: rotateX(90deg); */
    }
    
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: rotateX(180deg);
    }
    
    100% {
      opacity: 1;
      transform: translate(0px);
    }
  }
  
    @keyframes floatingFox {
      0% {
        transform: translate(0px);
      }
      50% {
        transform: translateY(5px);
      }
      100% {
        transform: translate(0px);
      }
    }
  
  @media screen and (max-width: 455px) {
    
    .text-container {
      transform: translate(-46.9%, 100%);
    }
    
    .triangle {
      width: 65vh;
    }
    .primary-heading {
      text-align: center;
      font-size:16px;
      letter-spacing: 12px;
    }
    .sub-heading {
      font-size:30px;
    }
  }
  
  @media screen and (max-height: 550px) {
      .primary-heading {
      text-align: center;
      font-size:18px;
      letter-spacing: 12px;
    }
    .sub-heading {
      font-size: 35px;
    }
  }
  
  @media screen and (max-height: 400px) {
      .primary-heading {
      text-align: center;
      font-size:12px;
      letter-spacing: 12px;
    }
    .sub-heading {
      font-size: 25px;
    }
    
      .text-container {
      transform: translate(-46.9%, 80%);
    }
  }
/* //////////////////////////// */

.tr {
    width: 40%;
    padding-bottom: 28.2842712474619%; /* = width / sqrt(2) */
    position: relative;
    overflow: hidden;
    animation: moveInRight 1s ease-out;
    animation-duration: 5s;
  }
  
.tr a {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('http://stevencapuzzi.com/assets/front/home/images/banner.jpg');
  -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: background-color .3s;
          transition: background-color .3s;
}
/** hover effect **/
.tr a:hover {
  background: rgba(255, 165, 0, 0.7);
}

/* --------- */
.tr2 {
    width: 40%;
    padding-bottom: 28.2842712474619%; /* = width / sqrt(2) */
    position: relative;
    overflow: hidden;
    animation: moveInLeft 1s ease-out;
    animation-duration: 5s;
  }
  
.tr2 a {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('http://stevencapuzzi.com/assets/front/home/images/banner.jpg');
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: background-color .3s;
          transition: background-color .3s;
}
/** hover effect **/
.tr2 a:hover {
  background: rgba(255, 165, 0, 0.7);
}

/* ----- */
.tr3 {
    width: 40%;
    padding-bottom: 28.2842712474619%; /* = width / sqrt(2) */
    position: relative;
    overflow: hidden;
    animation: moveInRight 1s ease-out;
    animation-duration: 5s;
  }
  
.tr3 a {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('http://stevencapuzzi.com/assets/front/home/images/banner.jpg');
  -webkit-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: background-color .3s;
          transition: background-color .3s;
}


/** hover effect **/
.tr3 a:hover {
  background: rgba(255, 165, 0, 0.7);
}
/* FOLLOWING JUST FOR THE DEMO */
html {display: table; width: 100%; height: 100%;}
body {display: table-cell;vertical-align: middle;text-align: center;color: #fff;font-family: 'Raleway', arial, sans-serif;letter-spacing: 0.12em;}
.tr {margin: 10% -2% auto 0;}
.tr2 {margin: 10% -24% auto 0}
.tr3 {margin: 20% -10% auto -24%}
strong {color: #FFA500;}
h1 {font-size: 2em;padding-bottom: 0;margin-bottom: 0;}
body {background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 1%, rgba(12, 12, 12, 0.91) 61%, rgba(19, 19, 19, 0.91) 100%);background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.45)), color-stop(1%, rgba(0, 0, 0, 0.45)), color-stop(61%, rgba(12, 12, 12, 0.91)), color-stop(100%, rgba(19, 19, 19, 0.91)));background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 1%, rgba(12, 12, 12, 0.91) 61%, rgba(19, 19, 19, 0.91) 100%);background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 1%, rgba(12, 12, 12, 0.91) 61%, rgba(19, 19, 19, 0.91) 100%);background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 1%, rgba(12, 12, 12, 0.91) 61%, rgba(19, 19, 19, 0.91) 100%);background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 1%, rgba(12, 12, 12, 0.91) 61%, rgba(19, 19, 19, 0.91) 100%);filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#73000000', endColorstr='#e8131313', GradientType=1);}
